%h1.pageTitle アカウント情報
%div.contentWrapper
  %table.user-table
    %tbody
      %tr
        %th ID
        %td= @user.id
      %tr
        %th ユーザー名
        %td= @user.name
      %tr
        %th メールアドレス
        %td= @user.email