
%div.attendButtonWrapper
	= form_with model: @attendance, url: user_attendances_path(@user) do |form|
		%div.submitButton
			= form.submit "出勤", disabled: @isAttendance[0]  # ボタンのラベルを "出勤" に指定

	= form_with model: @attendance, url: user_attendance_path(@user, @isAttendance[1]), method: :patch do |form|
		%div.submitButton
			= form.submit "退勤", disabled: !@isAttendance[0]  # ボタンのラベルを "退勤" に指定
